.updateuser{
    display:flex;
    column-gap: 40px;
    row-gap: 40px;
}

.updateuser-profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:420px;
    width:400px;
    padding:20px;
    border:2px solid var(--secondary-color);
    border-radius: 20px;
}
.updateuser-profile .profile-img{
    width:100%;
    height:auto;
    padding:0;   
}
.updateuser-profile .profile-img img{
   width:100%;
   height:100%;
   object-fit: cover;
   border-radius: 16px;
}
.updateuser-profile .profile-details{
    display:flex;
    flex-direction: column;
    width:100%;
    padding-top: 20px;
    padding-left: 0;
}

.updateuser-greenhouse{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width:100%;
    height:auto; 
    padding:20px;
    border:2px solid var(--secondary-color);
    border-radius: 20px;
}
.updateuser-greenhouse>p{
    font-size: 20px;
    font-weight: 700;
}
.updateuser-form{
    row-gap: 20px;
}
.updateuser-form .update-btn button{
    padding:10px 20px;
    border-style: none;
    background-color: var(--secondary-color); 
}
.updateuser-form .update-btn button:hover{
    background-color: var(--primary-color);  
}
